# requirements.txt

# Core ML/DL
torch
transformers
ultralytics
peft
accelerate
bitsandbytes
einops
safetensors

# Utilities
opencv-python-headless
json5
pyyaml
tqdm
gdown # For initial setup, optional for package users